body{
  margin:0;
  padding:20px;
  font-family:Arial, Helvetica, sans-serif;
  background:#f2f2f2;
}

.container{
  max-width:700px;
  background:white;
  padding:20px;
  margin:auto;
  border-radius:10px;
}

h1, h2{
  color:#333;
}

ul, ol{
  padding-left:20px;
}

a{
  color:#1a73e8;
  text-decoration:none;
}

a:hover{
  text-decoration:underline;
}

footer{
  text-align:center;
  margin-top:20px;
  color:#555;
}